.haha {
    width: 1350px;
    height: 650px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 32%; /* или любое значение, чтобы изменить вертикальное положение */
    left: 50%; /* или любое значение, чтобы изменить горизонтальное положение */
    transform: translate(-50%, -50);/* чтобы центрировать текст */
    color: white; /* Цвет текста */
    font-size: 10px; /* Размер шрифта */
   
    padding: 10px;
    border-radius: 5px;
}

.top{
    font-size: 20px;
    position: absolute;
    top: 800%; /* или любое значение, чтобы изменить вертикальное положение */
    left: -3000%; 
    color: red;
    
}

.pp{
    font-size: 10px;
    position: absolute;
    top: -700%; /* или любое значение, чтобы изменить вертикальное положение */
    left: 2700%; 
}

.form-container{
    position: absolute;
    top: 35%; /* или любое значение, чтобы изменить вертикальное положение */
    left: 50%; /* или любое значение, чтобы изменить горизонтальное положение */
    transform: translate(-60%, -5%); /* чтобы центрировать текст */
    color: white; 
}

.thumbnail2{
    width: 150px; /* Устанавливаем ширину миниатюры */
    height: 90; /* Высота будет пропорциональна ширине */
    border: 2px solid #ccc; /* Добавляем границу */
    border-radius: 8px; /* Округляем углы */
    margin: 10px; /* Отступы вокруг миниатюры */
    transition: transform 0.3s ease; /* Переход для эффекта увеличения */
    position: absolute;
top: 32%; /* или любое значение, чтобы изменить вертикальное положение */
left: 42%; /* или любое значение, чтобы изменить горизонтальное положение */
transform: translate(-50%, -50);

}

.thumbnail3{
    width: 150px; /* Устанавливаем ширину миниатюры */
    height: 115px; /* Высота будет пропорциональна ширине */
    border: 2px solid #ccc; /* Добавляем границу */
    border-radius: 8px; /* Округляем углы */
    margin: 10px; /* Отступы вокруг миниатюры */
    transition: transform 0.3s ease; /* Переход для эффекта увеличения */
    position: absolute;
top: 32%; /* или любое значение, чтобы изменить вертикальное положение */
left: 55%; /* или любое значение, чтобы изменить горизонтальное положение */
transform: translate(-50%, -50);

}
.thumbnail2:hover{
    transform: scale(1.1);
}

.thumbnail3:hover{
    transform: scale(1.1);
}

.ii{
    transform: translate(-5%, 190%);
    height: 70px;
}
.kol{
    font-size: 10px;
    position: absolute;
    top: 0%; /* или любое значение, чтобы изменить вертикальное положение */
    left: 0%; 
    color:black;
}

.loh{
    font-size: 100px;
    color: red;
    position: absolute;
    left: 20%;
}

.hop{
    position: absolute;
    top: 10%; 
    left: 10%;

}

.w{
    position: absolute;
    top: 20%; 
    left: 10%;

}

.e{
    position: absolute;
    top: 24%; 
    left: 10%;


}

.r{
    position: absolute;
    top: 28%; 
    left: 10%;

}

.u{
    position: absolute;
    top: 32%; 
    left: 10%;

}

.lm{
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 10px;
    color:yellow
}

.vb{
    color:aqua;
    font-size: 25px;
    position: absolute;
    right: 18%;
}

.ga{
    color:gold;
    font-size: 100px;
    position: absolute;
    right: 46%;
    top: 100px; ;
}

.fm{
    position: absolute;
    top: 90%;
    right: 1%;
    font-size: 20px;
    color: purple;
}

.pz{
    font-size: 60px;
}

.gc{
    font-size: 60px;
    position: absolute;
    right: 50%;
}

.bz{
font-size: 60px;
position: absolute;
    right: 40%;

}

.gv{
    font-size: 60px;
    position: absolute;
    right: 20%;
    top: 20%;
}

.nb{
    font-size: 60px;
    position: absolute;
    right: 10%;
    color:green;
    top: 60%;

}

.mss{
    position: absolute;
    top: -400%;
}

.msd{
    position: absolute;
    top: -550%;
    left: 200%;
}

.glp{
    font-size: 60px;
position: absolute;
    right: 40%;
}

.gclm{
    font-size: 60px;
    position: absolute;
    right: 50%;
    top: 40%;
}

.lan{
    font-size: 60px;
    position: absolute;
    right: 10%;
    color:black;
    top: 60%;
}

.sub{
    font-size: 60px;
}

.gcla{
    font-size: 60px;
    position: absolute;
    right: 50%;
    top: 40%;
}

.nba{
    position: absolute;
    top: 90%; /* или любое значение, чтобы изменить вертикальное положение */
    left: 3%; /* или любое значение, чтобы изменить горизонтальное положение */
    transform: translate(-50%, -50);/* чтобы центрировать текст */
    color:rgba(95, 3, 60, 0.363); /* Цвет текста */
    font-size: 20px; /* Размер шрифта */
}












